# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
db.sqlite3
staticfiles/
mediafiles/ # Don't copy local mediafiles into the image
.git/
.gitignore
Dockerfile
.dockerignore
*.swp
*.swo